*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #F6F6F6;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
}