@charset "UTF-8";

/*Configuração Geral*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 3px 3px 4px #1526a7;
    padding: 10px;
    text-align: center;
}